/* Estilo geral para o corpo */
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Ativa o scroll vertical */
  scroll-snap-type: y mandatory; /* Faz o scroll 'pular' entre as seções */
  font-family: "Rosario";
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  scroll-behavior: smooth; /* Para rolar suavemente entre as seções */
}

/* Estilos para o menu no topo */
.top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(114, 142, 150, 0.7);
  padding: 0;
  display: none; /* Escondido inicialmente */
  z-index: 1000;
}

.top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.top-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Exibir o menu ao passar o mouse no topo */
body:hover .top-menu {
  display: block;
}

.top-menu li a:hover{
  color: #506570;
}

/* Botão de menu */
#menu-toggle {
  display: none;
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 2000;
  background: #728e96;
  border: none;
  color: white;
  font-size: 1.2em;
  padding: 8px;
  border-radius:8px;
  cursor: pointer;
}

#menu-toggle:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.top-menu.menu-open {
  display: flex; /* Torna o menu visível quando aberto */
}

.top-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.top-menu ul li {
  margin: 10px 0;
}

.top-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.top-menu ul li a:hover {
  color: #506570;
}

/* Mobile Menu */
@media (max-width: 480px) {
  .top-menu {
    display: none; /* Esconde o menu inicialmente */
    flex-direction: column; /* Ajusta os itens em coluna */
    position: fixed;
    align-items: center;
    top: 56px; /* Espaço abaixo do botão toggle */
    left: 0;
    width: 100%;
    background: rgba(114, 142, 150, 0.9);
    z-index: 1000;
    padding: 8px;
    transition: all 0.3s ease;
  }

  .top-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Espaçamento entre os itens */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .top-menu ul li a {
    padding: 8px 8px; /* Espaçamento interno */
    font-size: 1rem; /* Reduzido para melhorar a leitura */
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }

  .top-menu.menu-open {
    display: block; /* Torna o menu visível quando aberto */
  }

  /* Botão de menu */
  #menu-toggle {
  display: block;
  position: fixed;
  z-index: 2000;
  background: #728e96;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius:8px;
  cursor: pointer;
  }

  #menu-toggle:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}


/* Seções do site */
.section {
  position: relative;
  z-index: 1; /* Garante que o conteúdo fique acima da imagem de fundo */
  min-height: 100vh;
  padding: 64px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #232B2E;
  text-align: left;
}

/* Início (seção principal) */
#inicio #inicio-title {
  font-size: 3rem;
}


#inicio #typing-effect {
  font-family: monospace;
  font-size: 1.5rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #666;
  animation: blink 0.5s step-end infinite alternate;
}

@media (max-width: 480px) {
  .section {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da imagem de fundo */
    min-height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #232B2E;
    text-align: left;
  }
  
  /* Início (seção principal) */
  #inicio #inicio-title {
    font-size: 2rem;
  }
  
  
  #inicio #typing-effect {
    font-family: monospace;
    font-size: 1rem;
    color: #666;
    flex-wrap: wrap;
    overflow: hidden;
    border-right: 2px solid #666;
    word-wrap: break-word; /* Permite quebra de linha */
    white-space: normal; /* Permite quebra de linha */
  }
}


/* Animação do cursor piscante */
@keyframes blink {
  from {
    border-right-color: #666;
  }
  to {
    border-right-color: transparent;
  }
}

/* Estilo do botão de idioma */
.language-switcher {
  margin-top: 24px;
}

.language-switcher button {
  padding: 8px 24px;
  font-size: 1rem;
  font-family: "Rosario";
  color: #fff;
  background-color: #728e96;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-switcher button:hover {
  background-color: #506570;
}

/* Configuração para a imagem de fundo */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Garante que a imagem fique no fundo */
  background-image: url('img/capa_site.jpg'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz a imagem ocupar toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetições da imagem */
}

/* Ajustes na seção "Sobre" */
#sobre {
  display: flex;
  flex-direction: row; /* Alinha texto e imagem lado a lado */
  justify-content: space-between;
  align-items: center;
  gap: 24px; /* Espaçamento entre os elementos */
  padding: 80px;
}

@media (max-width: 480px) {
  #sobre {
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em coluna */
    flex-wrap: wrap; /* Permite que o conteúdo quebre em várias linhas */
    justify-content: center;
    align-items: center;
    gap: 16px; /* Espaçamento entre elementos */
    padding: 40px;
  }
}

#sobre h2 {
  font-size: 2rem;
  width: 100%;
  text-align: left;
  margin-bottom: 24px; /* Espaço abaixo do título */
  color: #232B2E;
}

#sobre p {
  font-size: 1rem;
  flex: 1; /* Ocupa espaço disponível */
  text-align: justify;
  line-height: 1.6; /* Melhor espaçamento entre linhas */
  color: #232B2E;
}

#sobre img {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}

/* Seção Educação */
#educacao {
  padding: 64px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 100%;
}

/* Estilização do título */
.section-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 2rem;
  color: #232B2E;
}

/* Container para os cards */
.education-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.education-item {
  flex: 1 1 calc(45% - 20px); /* Ajusta o tamanho dos itens para caber lado a lado */
  min-width: 250px; /* Evita que fiquem muito pequenos */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.education-item h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #506570; /* Cor do título */
}

.education-item p {
  margin: 8px 0;
  line-height: 1.2;
  font-size: 1rem;
  color: #232B2E;
}

.education-item p strong {
  color: #232B2E; /* Destaque dos títulos */
}

/* Design responsivo */
@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
    width: 100%; /* Ajusta para uma coluna em telas menores */
    max-width: 100%; /* Garante que o card não ultrapasse 100% da largura */
  }

  .education-item {
    flex: 1 1 100%; /* Cada card ocupa toda a largura */
    width: 100%;
  }
}

/* Linha do tempo */
.timeline {
  position: relative;
  padding: 24px 0;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

/* Linha vertical */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #ddd;
  z-index: 0;
}

/* Item da linha do tempo */
.timeline-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
}

/* Ponto na linha */
.timeline-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: calc(50% - 7px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

/* Data */
.timeline-date {
  width: 120px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #232B2E;
  position: relative;
  z-index: 2;
}

/* Conteúdo */
.timeline-content {
  background: #fff;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.timeline-content h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #506570;
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
  color: #232B2E;
  text-align: justify;
}

/* Responsividade */
@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
  }

  .timeline-date {
    text-align: left;
    width: auto;
    margin-bottom: 8px;
  }

  .timeline-content {
    margin-left: 0;
    margin-right: 0;
  }

  .timeline-item:nth-child(odd) {
    flex-direction: column;
  }
}

/* Seção de Habilidades */
#habilidades {
  padding: 64px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 24px;
  justify-content: center; /* Garante centralização horizontal dos cards */
  overflow-x: hidden; /* Evita scroll horizontal */
}

#habilidades-title {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 24px;
}

#habilidades h2 {
  text-align: center;
  font-size: 2em;
  color: #232B2E;
}

#habilidades h2 img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

/* Grid de categorias com duas colunas */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 24px;
  margin-top: 24px;
  width: 100%; /* Garante que ocupe todo o espaço disponível */
  justify-content: center; /* Centraliza a grade */
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr; /* Uma coluna em telas menores */
  }
}
/* Cartões de Categoria */
.skill-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-card h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #232B2E;
}

/* Container de Habilidades */
.skills-container {
  display: flex;
  flex-direction: column;/* Permite que os itens reorganizem-se lado a lado ou em coluna */
  gap: 16px;
  width: 100%;
}

/* Itens de Habilidades */
.skill-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.skill-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.skill-details {
  flex: 1;
  width: 100%;
}

/* Nome da Habilidade */
.skill-name {
  display: block;
  font-size: 1em;
  margin-bottom: 8px;
  color: #232B2E;
}

/* Barra de Progresso */
.progress-bar {
  width: 100%;
  max-width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; /* Centraliza a barra no contêiner pai */
}

.progress {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #506570, #ADD8E6);
  z-index: 2;
  border-radius: 8px;
  transition: width 0.5s ease-in-out;
}

/* Media query para telas médias */
@media (max-width: 1024px) {
  .skill-card {
    flex: 1 1 calc(50% - 24px); /* Dois cards por linha */
    max-width: calc(50% - 24px);
  }
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .skill-card {
    flex: 1 1 100%; /* Em telas menores, cada card ocupa a linha inteira */
    max-width: 100%; /* Garante que o card não ultrapasse 100% da largura */
  }
}

/* Seção Projetos */
#projetos {
  padding: 80px 80px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 32px;
  color: #232B2E;
}

/* Grid de projetos */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

/* Card de projeto */
.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Título do artigo */
.project-card h3 {
  font-size: 1.1rem;
  color: #232B2E;
  margin-bottom: 16px;
  font-weight: 600;
}

/* Link do artigo */
.project-link {
  padding: 8px 16px;
  background: #728e96;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background 0.3s;
}

.project-link:hover {
  background: #506570;
}

/* Responsividade */
@media (max-width: 768px) {

  #projetos {
    padding: 64px 64px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Seção Contato */
#contato {
  padding: 80px 80px;
  text-align: left;
}

#contato h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  color: #232B2E;
}

.contact-download button:hover {
  background-color: #506570;
}

.contact-buttons {
  display: flex;
  flex-direction: row; /* Organiza os botões em linha */
  gap: 16px; /* Espaçamento uniforme entre os botões */
  align-items: center; /* Centraliza verticalmente os ícones */
}

.contact-buttons button {
  width: 64px; /* Define tamanho do botão */
  height: 64px;
  background-color: #728e96;
  border: none;
  border-radius: 8px; /* Deixa os botões com bordas arredondadas */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os ícones no botão */
  transition: background-color 0.3s;
}

.contact-buttons button:hover {
  background-color: #506570;
}

.contact-image {
  width: 56px; /* Tamanho do ícone */
  height: 56px;
  object-fit: contain; /* Garante que os ícones mantenham proporção */
}

.contact-download {
  margin-top: 24px;
  display: flex;
  flex-direction: row; /* Organiza os botões em linha */
  gap: 16px; /* Espaçamento uniforme entre os botões */
  align-items: center; /* Centraliza verticalmente os ícones */
}

/* Garantindo espaçamento entre os botões */
.contact-download button{
  padding: 16px 24px;
  background-color: #728e96;
  border: none;
  font-size: 1rem;
  font-family: "Rosario";
  color: #ffffff; /* Texto branco */
  border-radius: 8px; /* Deixa os botões com bordas arredondadas */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
} 

/* Estilo do rodapé */
.footer {
  background-color: #728e96; /* Cor de fundo igual à barra de menu */
  color: #ffffff; /* Texto branco */
  text-align: center; /* Centraliza o texto */
  padding: 8px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  font-family: monospace; /* Fonte consistente */
  position: relative; /* Padrão (ajustável se precisar fixar no fim da página) */
  z-index: 1000; /* Camada acima de outros elementos */
  width: 100%; /* Garante que ocupa 100% da largura */
  bottom: 0; /* Coloca o rodapé no final */
}

/* Ajuste responsivo, se necessário */
.footer p {
  margin: 0; /* Remove margem extra */
}