/* Reseta a margem e o padding de todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral para o corpo */
body {
  font-family: Merriweather, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  scroll-behavior: smooth; /* Para rolar suavemente entre as seções */
}

/* Estilos para o menu no topo */
.top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(173, 216, 230, 0.7);
  padding: 10px 0;
  display: none; /* Escondido inicialmente */
  z-index: 1000;
}

.top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.top-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.top-menu ul li a:hover {
  text-decoration: underline;
}

/* Exibir o menu ao passar o mouse no topo */
body:hover .top-menu {
  display: block;
}

/* Seções do site */
.section {
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Início (seção principal) */
#inicio h1 {
  font-size: 2.5rem;
  color: #333;
}

#inicio p {
  font-size: 1.2rem;
  color: #666;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
}

/* Estilo do botão de troca de idioma */
.language-switcher {
  margin-top: 20px;
}

.language-switcher button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #add8e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.language-switcher button:hover {
  background-color: #add8e6;
}
